<div class="container flex-col">
  <app-banner message="A GENTLE INVITATION TO STILLNESS — SEASONAL STAYS NOW OPEN"></app-banner>
  <app-header></app-header>
  <app-hero></app-hero>
  <app-trust-batches
  [badges]="[
    { icon: '../../../assets/images/hand_tree.png', text: 'BORN FROM STILLNESS, GROWN WITH PURPOSE' },
    { icon: '../../../assets/images/hand_love.png', text: 'HONORED AS SUPERHOST — FOR HOSTING WITH HEART' },
    { icon: '../../../assets/images/paw.png', text: 'CELEBRATED BY GUESTS BOOKING.COM 2023–2025' },
  ]">
</app-trust-batches>
  <app-intro></app-intro>
  <app-whatsetsusapart></app-whatsetsusapart>
  <app-peoplebehind></app-peoplebehind>
  <app-storymap></app-storymap>
</div>