<div class="intro-section container">
    <div class="intro-left-group">
      <div class="intro-left">
        <h1 class="intro-main-title">CRAFTED<br />WITH CARE</h1>
        <span class="rooted-underline"></span>
        <div class="intro-rooted-row">
          <span class="rooted-in-soul">ROOTED IN SOUL.</span>
        </div>
        <div class="intro-tagline">Where every stay is a story.</div>
      </div>
      <div class="intro-center">
        <img src="../../../assets/images/Chines_Dance_image.png" alt="Dancer" class="intro-dancer" />
      </div>
      <div class="intro-right">
        <div class="intro-right-inner">
          <p class="intro-right-inner-text">
            At MagnoliasVHR, your stay isn’t just a booking — it’s a pause — a space to breathe, feel safe, and slow down.
          </p>
          <p class="intro-right-inner-text">
            Each of our soulful homes — like <em>The Still Suite</em> or <em>The Belonging Suite</em> — is lovingly named and thoughtfully curated with intention and soul.
          </p>
          <p class="intro-italic intro-right-inner-text">
            We don’t prepare properties. We prepare moments of peace.
          </p>
          <p class="intro-right-inner-text">
            Stay with us — <em>not to escape life, but to return to it gently.</em>
          </p>
        </div>
      </div>
    </div>
  </div>